* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}

.upper-container1{
    width: 35%;
    height: 100%;
    padding-top: 20px;
}

#tasks{
    font-weight: bold;
    font-size: 2.5rem;
}

#list{
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 10px;
    color: #00A5EC;
     
}

.upper-container2{
    width: 30%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#circle{
position: absolute;
top: 130px;
width: 50px;
height: 50px;
opacity: 1;
padding-top: 25;
}

#addnewtask{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 142px;
    right: 0;
    font-size: 25px;
    opacity: 0.5;
    padding-top: 25;

}

.card1{
margin-top: 10px;
width: 352px;
height: 45vh;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
}

.div1{
top: 254px;
width: 114px;
height: 24px;
text-align: center;
color: #00A5EC;
opacity: 1;
}

.div2{
top: 340px;
width: 103px;
height: 21px;
text-align: center;
color: #C2C2C2;
opacity: 1;
}

.div3{
top: 395px;
width: 81px;
height: 21px;
text-align: left;
color: #424242;
opacity: 1;
}

